:root {
    --primary-color: #74C69D;
    --white-color: #FFFFFF;
    --white-color-75: #FFFFFFC0;
    --light-gray-color: #EEEEEE;
    --dark-color: #212529;
    --dark-color-75: #212529C0;
    --dark-color-50: #21252980;
    --dark-color-25: #21252940;
    
    font-size: 16px;
    font-family: 'Work Sans';
    line-height: 125%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main-section {
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: 'Crimson Text';
    font-size: 2.5rem;
    line-height: 125%;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Crimson Text';
    font-size: 1.5rem;
}

.body-regular {
    font-size: 0.9375rem;
}

.sub-heading {
    font-size: 1.25rem;
    font-family: 'Work Sans';
    line-height: 125%;
    margin: 0;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.button {
    color: var(--white-color);
    background-color: var(--dark-color);
    border: none;
    padding: 13px 30px 10px; /* top left&right bottom */
    border-radius: 5px;
}

.secondary-button {
    color: var(--dark-color);
    background-color: var(--white-color);
    border: none;
    padding: 13px 47px 10px; 
    border-radius: 5px;
}

.box-shadow {
    box-shadow: 3px 4px 12px 1px var(--dark-color-25); 
    /* x(h-offset) y(v-offset) blur spread color */
}

/* Heading section */
.heading-section {
    max-width: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 25px;
    margin-bottom: 80px;
}

.heading-section h2 {
    color: var(--primary-color);
}

.heading-section .sub-heading {
    line-height: 160%;
}

.header-section, 
.footer-section {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header-section {
    margin-bottom: 35px;
}

.burger-menu {
    display: none;
    content: url('../img/burger-menu.svg');
}

.hero-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 120px;
    padding-bottom: 82px;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.hero-section-content p {
    color: var(--white-color-75);
    font-size: 0.9375rem;
}

.hero-section-image img{
    width: 100%; /* width 100% of its parent */
}

.partner-heading-section {
    margin-bottom: 55px;
}

.partners {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    margin-bottom: 55px;
}

.footer-section-content {
    display: flex;
    justify-content: space-between;
     padding: 50px 0;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.section-content {
    width: 1175px;
    margin: 0 auto;
}

.header-section-content {
    padding-top: 35px;
    padding-bottom: 38px;
  
    display: flex;
    justify-content: space-between;
}

.brand-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.brand-name {
    font-weight: 500;
    font-size: 2.5rem;
}

.navigation-container ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation-container a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.25rem;
}

/* Landing page section */
.landingpage-section {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 73px;
}

.landingpage-section-image img {
    width: 100%;
}

.landingpage-section-content {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.landingpage-section-content p {
    color: var(--dark-color-50);
    font-size: 0.9375rem;
}

.our-team {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.view-team {
    text-align: center;
    margin-bottom: 55px;
}

/* Team cards */
.team-section {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    padding: 20px 25px;
}

.team-card header {
    padding: 0 13px;
}

.team-card p {
    color: var(--dark-color-75);
    font-size: 0.9375rem;
    text-transform: uppercase;
}

/* Service section */
.service-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
}

.service-card {
    width: 280px;
    padding: 46px 30px;
    border-radius: 5px;
}

.service-card-header {
    text-align: center;
    margin-bottom: 52px;
}

.service-card-header p {
    margin: 0;
}

.price-container {
    display: flex;
    gap: 9px;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 10px;
}

.price-container strong {
    font-size: 2.5rem;
}

.price-container em, 
.service-card-header-text {
    color: var(--dark-color-50);
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    /* list-style-image: url('../img/check-icon.svg'); */
    list-style: none;
    padding-left: 5px;
    margin: 0 0 45px;
}

.service-list li::before {
    content: url('../img/check-icon.svg');
    position: relative;
    top: 3px; 
    right: 5px; 
    margin-right: 10px; /* adds space between icon and text */
}

.service-card-footer {
    text-align: center;
}

.portfolio-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    justify-items: center;
    align-items: center;

    justify-content: center;
    margin-bottom: 70px;
}

.portfolio-section img {
    width: 100%;
}

.learn-more {
    text-align: center;
    margin-bottom: 100px;
}

.contact-heading-section {
    margin-bottom: 67px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
    box-sizing: border-box;

    margin-bottom: 93px;
}

.contact-form-container {
    display: block;
    box-sizing: border-box;
}

.contact-map-image-container img {
    order: 0;
    display: flex;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 21px;
    box-sizing: border-box;
}

.form-element-caption {
    font-size: 20px;
}

.input-box {
    width: 100%;
    height: 2.375rem; /* 38px */
    border-radius: 5px;
    background-color: var(--light-gray-color);
    box-sizing: border-box; /* make padding stay inside the width */
}

.message-input-box {
    min-height: 4.6875rem; /* 75px */
}

.contact-button {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .hero-section {
        gap: 40px;
    }

    .service-section {
        gap: 40px;
    }

    .team-card header {
        padding: 0;
    }

    .section-content {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .hero-section {
        gap: 40px;
    }

    .partners {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .landingpage-section {
        gap: 20px;
    }

    .landingpage-section-content {
        max-width: 370px;
    } 

    .team-section {
        grid-template-columns: 1fr 1fr;
        gap: 80px;
    }

    .team-card header {
        padding: 0 13px;
    }

    .service-section {
        flex-direction: column;
        align-items: center;
    }

    .section-content {
        width: 750px;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-form-container {
        width: 100%;
    }
    
    .contact-map-image-container {
        order: -1;
    }

    .contact-map-image-container img {
        width: 100%;
    }

    .contact-button {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .hero-section .hero-section-image {
        grid-row-start: 1;
    }

    .landingpage-section {
        flex-direction: column;
    }

    .our-services .landingpage-section-image {
        order: -1;
    }

    .section-content {
        width: 560px;
    }

    .burger-menu {
        display: block;
    }
    
    .navigation-container {
        display: none;
    }

    .portfolio-section {
        grid-template-columns: 1fr;
    }

    .team-section {
        gap: 20px;
    }

    .section-content {
        width: 400px;
    }

    .footer-section-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
    }
}

@media (max-width: 568px) {
    h1 {
        font-size: 1.5rem;
    }

    .learn-more, 
    .portfolio-section {
        margin-bottom: 30px;
    }

    .team-section {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .view-team {
        margin-bottom: 40px;
    }

    .section-content {
        width: 335px;
    }
} 